body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.02) inset;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}
